<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    <link href="../css/login.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
    </style>
</head>

<body>

<div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="loginmodal-container">

            <div th:if="${param.logout}">
                <h1>You are now signed out.</h1><br>
                <div class="login-help">
                    <a th:href="@{/login}">Sign in again?</a>
                </div>
            </div>

            <div th:unless="${param.logout}">
                <h1>Login to Your Account</h1><br>
                <form th:action="@{/login}" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <div th:if="${param.error}" class="alert alert-danger">
                        Incorrect login or password.
                    </div>
                    <input type="submit" name="login" class="login loginmodal-submit" value="Sign in!">
                </form>

                <div class="login-help">
                    <a th:href="@{/registration}">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>