<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <script th:src="@{/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"></script>
    <script th:src="@{/dist/js/sb-admin-2.js}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>

</div>
</body>
</html>
