<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="EPAM lab">

        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">
        <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet">
        <link th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">
        <link th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet">
        <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">
        <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    </div>
</head>
<body>
<div th:fragment="header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a th:inline="text" class="navbar-brand" href="/"><span th:utext="#{app.title}">Mobile Payment System</span>
            <span th:text="#{app.version}">v1.1</span> </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <div th:if="__${#locale}__=='en'">
                <select id="locales" class="selectpicker dropdown-toggle" data-toggle="dropdown" data-width="fit">
                    <option value="en" th:text="#{lang.english}" data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                    <option value="ru" th:text="#{lang.russian}" data-content='<span class="flag-icon flag-icon-ru"></span> Russia'>Русский</option>
                </select>
            </div>
            <div th:unless="__${#locale}__=='en'">
                <select id="locales" class="selectpicker dropdown-toggle" data-toggle="dropdown" data-width="fit">
                    <option value="ru" th:text="#{lang.russian}" data-content='<span class="flag-icon flag-icon-ru"></span> Russia'>Русский</option>
                    <option value="en" th:text="#{lang.english}" data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                </select></div>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <!--[[${#httpServletRequest.remoteUser}]]-->
                <li sec:authorize="hasAnyRole('USER', 'SUBSCRIBER', 'ADMIN')">
                    <a th:href="@{/profile}"><i class="fa fa-user fa-fw"></i> <span th:text="#{app.header.myprofile}"></span> </a>
                </li>
                <li class="divider" sec:authorize="hasAnyRole('USER', 'SUBSCRIBER', 'ADMIN')"></li>
                <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> <span th:text="#{app.header.logout}"></span></a></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

</div>

</body>
</html>