<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="EPAM lab">

    <title th:text="#{title.page.bill-item}"> Bill</title>

    <div th:replace="fragments/header :: header-css"></div>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div th:replace="fragments/header :: header"></div>

        <div th:replace="fragments/sidebar :: sidebar"></div>
    </nav>

    <div id="page-wrapper">

        <style>
            .invoice-title h2, .invoice-title h3 {
                display: inline-block;
            }

            .table > tbody > tr > .no-line {
                border-top: none;
            }

            .table > thead > tr > .no-line {
                border-bottom: none;
            }

            .table > tbody > tr > .thick-line {
                border-top: 2px solid;
            }
        </style>


        <div class="row" th:object="${bill}">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <h2 th:text="#{title.page.bill-item}">Invoice</h2><h3 class="pull-right">Order # <span th:text="*{id}"></span></h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Billed To:</strong><br>
                            <p th:text="${bill.user.fullname}"></p>
                            <!--TODO: not sure-->
                            <a th:href="@{'/users/' + ${bill.user.id}}" target="_blank" th:text="${bill.user.username}"></a><br>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Shipped To:</strong><br>
                            MPS
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Payment Method:</strong><br>
                            Cash
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Order Date:</strong><br>
                            <p th:text="${#dates.format(bill.startDate, 'dd-MM-yyyy')}"></p> <br><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td><strong>Service</strong></td>
                                    <td class="text-center"><strong>Status</strong></td>
                                    <td class="text-right"><strong>Price, $</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td th:text="${service.name}"></td>
                                    <td class="text-center">
                                        <span th:if="${bill.paidFor == true}" style="color:darkgreen">PAID</span>
                                        <span th:unless="${bill.paidFor == true}" style="color:darkred">UNPAID</span>
                                    </td>
                                    <td class="text-right" th:text="${bill.actualCost}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->



    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>

