<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="EPAM lab">

    <title th:text="#{title.page.bill-item}"> Bill</title>

    <div th:replace="fragments/header :: header-css"></div>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div th:replace="fragments/header :: header"></div>

        <div th:replace="fragments/sidebar :: sidebar"></div>
    </nav>

    <div id="page-wrapper">

        <style>
            .invoice-title h2, .invoice-title h3 {
                display: inline-block;
            }

            .table > tbody > tr > .no-line {
                border-top: none;
            }

            .table > thead > tr > .no-line {
                border-bottom: none;
            }

            .table > tbody > tr > .thick-line {
                border-top: 2px solid;
            }
        </style>


        <div class="row" th:object="${bill}">
            <div class="col-xs-12" style="font-size: 1.3em;">
                <div class="invoice-title">
                    <h2 th:text="#{title.page.bill-item}">Invoice</h2>
                    <h3 class="pull-right"><span th:text="#{bills.item.order}">Order</span> # <span th:text="*{id}"></span></h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <strong th:text="#{bills.item.payer}">Billed To:</strong><br>
                        <p>
                            <span th:text="${bill.user.fullname}"></span>
                            (<a th:href="@{'/users/' + ${bill.user.id}}" target="_blank" th:text="${bill.user.username}"></a>)
                        </p>
                        <br>
                    </div>
                    <div class="col-xs-6 text-right">
                        <strong th:text="#{bills.item.receiver}">Shipped To:</strong><br>
                        MPS
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <strong th:text="#{bills.item.method}">Payment Method:</strong><br>
                        <span th:text="#{bills.item.cash}">Cash</span>
                    </div>
                    <div class="col-xs-6 text-right" th:if="${bill.paidFor == true}">
                        <div>
                            <strong th:text="#{bills.item.start-date}">Order Date From:</strong><br>
                            <p th:text="${#dates.format(bill.startDate, 'dd-MM-yyyy')}"></p>
                        </div>
                        <div>
                            <strong th:text="#{bills.item.end-date}">Order Date To:</strong><br>
                            <p th:text="${#dates.format(bill.endDate, 'dd-MM-yyyy')}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12" style="font-size: 1.2em; margin-top: 2em;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong th:text="#{bills.item.summary}">Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td><strong th:text="#{bills.table.th.service}">Service</strong></td>
                                    <td class="text-center"><strong th:text="#{bills.item.status}">Status</strong></td>
                                    <td class="text-right"><strong th:text="#{bills.item.price}">Price, $</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td th:text="${service.name}"></td>
                                    <td class="text-center">
                                        <span th:if="${bill.paidFor == true}" th:text="#{bills.item.status.paid}"
                                              style="color:darkgreen">PAID</span>
                                        <span th:unless="${bill.paidFor == true}" th:text="#{bills.item.status.unpaid}"
                                              style="color:darkred">UNPAID</span>
                                    </td>
                                    <td class="text-right" th:text="${bill.actualCost}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 1em; text-align: right;">
                            <form action="" method="post" th:if="${bill.paidFor != true}"
                                  style="float:right; margin-left: 1em;">
                                <button type="submit" th:text="#{bills.item.button.pay}"
                                        class="btn btn-primary">Оплатить</button>
                            </form>
                            <form th:action="@{'/users/{uid}/bills/{bid}/unsub' (uid=${userId}, bid=${bill.id})}"
                                  method="post" th:if="${unsubscribeAviable == true or bill.paidFor == false}">
                                <button type="submit" th:text="#{bills.item.button.cancel}"
                                        class="btn btn-secondary">Отказаться</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- /.row -->



    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>

