<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Bills payment</title>
</head>
<body>
<form action="#" th:action="@{/bills/old}" th:object="${oldBills}" method="get">
    <div>
        <h2>Old bill operations</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Paid?</th>
            </tr>
            <tr th:each="bill : ${oldBills}">
                <td th:text="${bill.serviceUnit.name}"></td>
                <td th:text="${bill.serviceUnit.cost}"></td>
                <td th:text="${bill.paidFor}"></td>
            </tr>
        </table>
    </div>
    <p th:inline="text">Total cost: [[${total}]]</p>
    <p><input type="submit" value="Accept"/></p>
</form>
</body>
</html>