<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User adding</title>
</head>
<body>


    <form th:action="@{/user/add}"
          th:object="${userForm}" method="post" action="#">
        <!--<input type="hidden" th:field="*{id}" />-->
        Login:
        <label>
            <input type="text" th:field="*{login}"/>
        </label>
        <br/>
        Password:
        <label>
            <input type="text" th:field="*{password}"/>
        </label>
        <br/>
        Money:
        <label>
            <input type="number" th:field="*{personalAccount}"/>
        </label>
        <br/>
        <!--Admin:-->
        <!--<label>-->
            <!--<input type="checkbox" th:field="*{isAdmin}"/>-->
        <!--</label>-->
        <!--<br/>-->
        <!--Locked:-->
        <!--<label>-->
            <!--<input type="radio" th:field="*{isLocked}"/>-->
        <!--</label>-->
        <!--<br/>-->
        <input type="submit" value="Create" />
    </form>


</body>
</html>