<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="EPAM lab">

    <title th:text="#{app.title}"> Title </title>

    <div th:replace="fragments/header :: header-css"></div>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div th:replace="fragments/header :: header"></div>

        <div th:replace="fragments/sidebar :: sidebar"></div>
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div style="overflow:hidden;" class="page-header" >
                    <h1 sec:authorize="hasAnyRole('USER', 'SUBSCRIBER', 'ADMIN')"
                        style="float:left; margin-top:0;" th:text="#{title.page.home}">Summary</h1>

                    <h1 sec:authorize="hasRole('LOCKED')" th:text="#{title.page.home.locked}"></h1>
                    <h1 sec:authorize="hasRole('DELETED')" th:text="#{title.page.home.deleted}"></h1>

                    <span style="float: right;" sec:authorize="hasRole('ADMIN')">
                        <form action="/" method="post">
                            <button type="button" th:text="#{title.page.check.button}"
                                    class="btn btn-primary btn-lg">Check bills</button>
                        </form>
                    </span>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${numberOfSubs}">17</div>
                                <div th:text="#{container.word.subscribers}">Subscribers</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/users}">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <span th:text="${numberOfUsers}"></span>
                                <span th:text="#{container.word.unconfirmed}">Unconfirmed</span>
                            </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-exchange fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${numberOfServices}">32</div>
                                <div th:text="#{sidebar.link.services}">Services</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/services}">
                        <div class="panel-footer">
                            <span class="pull-left" th:text="#{container.word.view-details}">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${numberOfBills}">124</div>
                                <div th:text="#{sidebar.link.bills}">Bills</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/bills}">
                        <div class="panel-footer">
                            <span class="pull-left" th:text="#{container.word.view-details}">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${numberOfUnpaidBills}">2</div>
                                <div th:text="#{container.word.unpaid}">Unpaid bills</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/bills}">
                        <div class="panel-footer">
                            <span class="pull-left" th:text="#{container.word.view-details}">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">

                <div class="well" th:if="${userRole} == 'ROLE_USER'">
                    <h4 th:text="#{role.user.greeting}">Добро пожаловать!</h4>
                    <p th:utext="#{role.user.text}"></p>
                    <a class="btn btn-default btn-lg btn-block"
                       th:text="#{role.user.refill}"
                       th:href="@{/profile}">Перейти к пополнению счета</a>
                </div>

                <div class="panel panel-default" th:if="${userRole} != 'ROLE_DELETED'">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>
                        <span th:text="#{app.project.title}">Project #7. Mobile Payment System.</span>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <p th:text="#{app.project.description}">The administrator connects subscribers. The subscriber can choose one or several of the provided services. The subscriber pays the bill for calls and services. The administrator can view the list of unpaid invoices and block the subscriber.</p>
                        <p><img src="http://www.beliefmedia.com/wp-content/uploads/2017/06/telephone-wp-shortcode-1000x200.jpg" class="img-responsive"></p>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
