<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{service_adding}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('/service/add?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>

    <h3 th:text="#{service_list}"></h3>

     <form action="#" th:action="@{/service/add}" th:object="${service}" method="post">
         <p th:text="#{service_name}"/> <input type="text" th:field="*{name}" title="Enter the service name"/>
         <p th:if="${#fields.hasGlobalErrors()}" th:text="${sameName}"></p>
         <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
         <p th:text="#{service_cost}"/> <input type="text" th:field="*{cost}" title="Enter the service cost"/>
         <p><input type="submit" th:value="#{submit}"/></p>
    </form>


    <table border="1">
        <tr>
            <th>ID</th>
            <th th:text="#{name}"></th>
            <th th:text="#{cost}"></th>
        </tr>

        <tr th:each="service : ${serviceList}">
            <td th:utext="${service.id}"></td>
            <td th:utext="${service.name}"></td>
            <td th:utext="${service.cost}"></td>
        </tr>
    </table>

    <span th:text="#{lang.change}"></span>
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.english}"></option>
        <option value="de" th:text="#{lang.russian}"></option>
    </select>
</body>
</html>