<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Service adding</title>
</head>
<body>
    <h3>Services List</h3>


     <form action="#" th:action="@{/service/add}" th:object="${service}" method="post">
         <p>Service name:<input type="text" th:field="*{name}" title="Enter the service name"/></p>
         <p>Service cost:<input type="text" th:field="*{cost}" title="Enter the service cost"/></p>
         <p><input type="submit" value="Accept"/></p>
    </form>


    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
        </tr>

        <tr th:each="service : ${serviceList}">
            <td th:utext="${service.id}"></td>
            <td th:utext="${service.name}"></td>
            <td th:utext="${service.cost}"></td>
        </tr>
    </table>

</body>
</html>