<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Service management</title>
</head>
<body>
<!--/*@thymesVar id="serviceunit" type="com.epam.lab.mobilepaymentsystem.model.ServiceUnit"*/-->
<form action="#" th:action="@{/services/management}" th:object="${services}" method="post">
    <div>
        <h2>Service list</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <!--<th>Is connected?</th>-->
            </tr>
            <tr th:each="service : ${services}">
                <td th:text="${service.cost}" th:field="${service.name}"></td>
                <td th:text="${service.cost}" th:field="${service.cost}"></td>
                <!--<td><input type="checkbox" th:checked="${service.getValue()}"/></td>-->
            </tr>
        </table>
        <p><input type="submit" value="Accept"/></p>
    </div>
    <!--<tr th:each="instance : ${analysis.instanceMap}">-->
        <!--<td th:text="${instance.key}">keyvalue</td>-->
        <!--<td th:text="${instance.value.numOfData}">num</td>-->
</form>
</body>
</html>